/* .ui-wrapper {
  --container: 980px;
} */
img.img {
  border-radius: 8px;
}

/*------------------------------comings---------------------------------*/
section.coming-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 840px;
  margin: 0 auto;
  margin-bottom: 100px;
}
section.coming-wrapper::after {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  width: 100%;
  height: 1.2px;
  background: #aeb6c5;
}

section.coming-wrapper h2 {
  position: relative;
  background: var(--bg);
  padding: 0 30px;
  z-index: 2;
}
/*-------------x----------------comings-----------------x---------------*/
/*------------------------------products---------------------------------*/
section.product-wrapper {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-bottom: 84px;
}
/*-------------x----------------products-----------------x---------------*/

/*------------------------------Who are u---------------------------------*/
section.who-wrapper {
  row-gap: 32px;
  margin: 0 auto;
  margin-bottom: 70px;
  width: 771px;
}

/*-------------x----------------Who are u-----------------x---------------*/

/*------------------------------ipad mini---------------------------------*/
@media screen and (max-width: 768px) {
  /*------------------------------comings---------------------------------*/
  section.coming-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 704px;
    margin: 0 auto;
    margin-bottom: 100px;
  }
  section.coming-wrapper::after {
    position: absolute;
    content: "";
    left: 0px;
    top: 50%;
    width: 100%;
    height: 1.2px;
    background: #aeb6c5;
  }

  section.coming-wrapper h2 {
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
  }
  /*-------------x----------------comings-----------------x---------------*/
  /*------------------------------products---------------------------------*/
  section.product-wrapper {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 50px;
  }
  /*-------------x----------------products-----------------x---------------*/
  /*------------------------------Who are u---------------------------------*/
  section.who-wrapper {
    row-gap: 32px;
    margin: 0 auto;
    margin-bottom: 70px;
    width: 522px;
    padding: 0;
  }
  /*-------------x----------------Who are u-----------------x---------------*/
}
/*-------------x----------------ipad mini-----------------x---------------*/
/*------------------------------mobile---------------------------------*/
@media screen and (max-width: 640px) {
  .sm--none {
    display: none !important;
  }

  /*------------------------------comings---------------------------------*/
  section.coming-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 0 auto;
    margin-bottom: 100px;
  }
  section.coming-wrapper::after {
    position: absolute;
    content: "";
    left: 16px;
    top: 50%;
    width: calc(100vw - 32px);
    height: 1.2px;
    background: #aeb6c5;
  }

  section.coming-wrapper h2 {
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
  }
  /*-------------x----------------comings-----------------x---------------*/
  /*------------------------------products---------------------------------*/
  section.product-wrapper {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 50px;
  }
  /*-------------x----------------products-----------------x---------------*/

  /*------------------------------Who are u---------------------------------*/
  section.who-wrapper {
    row-gap: 32px;
    margin: 0 auto;
    margin-bottom: 70px;
    width: 100vw;
    padding: 0 43.5px;
  }
  section.who-wrapper h2 {
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
  }
  /*-------------x----------------Who are u-----------------x---------------*/
}
/*-------------x----------------mobile-----------------x---------------*/
