section.poperties-wrapper {
  width: var(--container);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 60px;
}
section.poperties-wrapper .poperties-text {
  align-self: start;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  width: 420px;
  /* background: red; */
}
section.poperties-wrapper .poperties-text ul {
  color: #621ff2;
  list-style: square;
  /* list-style-position: outside; */
  padding-top: 24px;
  padding-left: 40px;
}

section.poperties-wrapper .poperties-text h2 {
  margin-bottom: 32px;
}
section.poperties-wrapper .poperties-image {
  display: grid;
  grid-template-columns: repeat(2, 188px);
  column-gap: 32px;
  row-gap: 21px;
  height: max-content;
  margin-left: 10px;
}
section.poperties-wrapper .poperties-image img.img {
  border-radius: 8px;
}
/*------------------------------ipad mini---------------------------------*/
@media screen and (max-width: 768px) {
  section.poperties-wrapper {
    width: 100vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    margin-bottom: 56px;
    padding: 0 0px;
  }
  section.poperties-wrapper .poperties-text {
    order: 2;
    align-self: start;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    width: 480px;
    padding: 0px;
    margin: 0 auto;
    /* background: red; */
  }
  section.poperties-wrapper .poperties-text ul {
    order: 3;
    color: #621ff2;
    list-style: square;
    /* list-style-position: outside; */
    padding-top: 24px;
    padding-left: 64px;
    padding-right: 0px;
    width: 378px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  section.poperties-wrapper .poperties-text ul li {
    width: 50%;
  }

  section.poperties-wrapper .poperties-image {
    order: 1;
    width: 100vw;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 187px);
    column-gap: 34px;
    row-gap: 21px;
    height: max-content;
    margin-left: 0px !important;
    padding: 0px;
    margin: 0 auto;
    margin-bottom: 60px;
  }
}
/*-------------x----------------ipad mini-----------------x---------------*/
/*------------------------------mobile---------------------------------*/
@media screen and (max-width: 640px) {
  section.poperties-wrapper {
    width: 100vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    margin-bottom: 60px;
    padding: 0 0px;
  }
  section.poperties-wrapper .poperties-text {
    order: 2;
    align-self: start;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    width: 100%;
    padding: 0 40px;
    /* background: red; */
  }
  section.poperties-wrapper .poperties-text ul {
    order: 3;
    color: #621ff2;
    list-style: square;
    /* list-style-position: outside; */
    padding-top: 24px;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  section.poperties-wrapper .poperties-text ul li {
    width: 50%;
  }

  section.poperties-wrapper .poperties-text h2 {
    margin-bottom: 32px;
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
  }
  section.poperties-wrapper .poperties-image {
    order: 1;
    width: 100;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 15px;
    height: max-content;
    margin-left: 0px !important;
    padding: 0 40px;
    margin: 0 auto;
    margin-bottom: 60px;
  }
}
/*-------------x----------------mobile-----------------x---------------*/
